.profile
{
	position: relative;
	border-width: 0.02cm;
	border-style: solid;
	border-color: black;
	left: 0;
	padding-left: 2cm;
	padding-bottom:6cm;
	background-color: lightgreen;
}
input
{
	position: relative;
	width:10cm;
	height:0.7cm;
	font-weight: bold;
	background-color: silver;
}
input[type="radio"]
{
	position: relative;
	width:0.5cm;
}
table,td
{
	position: relative;
	font-weight: bold;
	line-height: 1.5cm;
}
tr
{
	position: relative;
	line-height: 1cm;
}
input[type="submit"]
{
	position: relative;
	left: 3cm;
}
p
{
	position: relative;
	left: 3cm;
}
