body
{
	background-color: lightblue;
}
.register
{
	background-color: lightgreen;
	position: relative;
	margin: 3cm;
	border-style: solid;
	border-width: 0.01cm;
	border-color: black;
	padding-left: 6cm;
	padding-right: 1cm;
	padding-top: 1cm;
	padding-bottom: 3cm;
	width: 15cm;
	left: 3cm;


}
h3
{
	position: relative;
	left: 4cm;
	font-size: 0.9cm;
}
button[type="submit"]
{
	position: relative;
	left: 2cm;
	width:8.1cm;
	font-weight: bolder;
	height: 0.7cm;
	top:0.5cm;
	background-color: lightblue;
}
input[type="email"],input[type="password"]
{
	position: relative;
	height:0.7cm;
	width: 8cm;
	font-weight: normal;

}
table,td
{
	line-height: 1cm;
	font-weight: bold;

}
